<div class="container">
    <h2>Lista de Reservas</h2>
    <table class="table">
            <thead>
                <tr>
                    <th>Nombre del cliente</th>
                    <th>Numero de personas</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>         
                <tr *ngFor="let reserva of reservasMain; let id = index">
                    <td>{{reserva.cliente}}</td>
                    <td>{{reserva.personas}}</td>
                    <td>{{reserva.fecha}}</td>
                    <td>{{reserva.hora}}</td>
                    <td>{{reserva.estado}}</td>
                    <td >
                        <button (click)="deleteReservationEmit(reserva.id)" class="btn btn-danger">Borrar</button>
                    </td>
                </tr>
            </tbody>
    </table>
</div>