<div class="container">
<table class="table table-responsive table-bordered mx-auto">
        <thead>
            <tr>
                <th> Nombre del cliente</th>
                <th>Numero de personas</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>         
            <tr *ngFor="let reserva of reservas">
                <td>{{reserva.cliente}}</td>
                <td>{{reserva.numero_personas}}</td>
                <td>{{reserva.fecha}}</td>
                <td>{{reserva.hora}}</td>
                <td >
                    <button (click)="changeReservation(reserva.id)" class="btn btn-primary mr-2">Editar</button>
                    <button (click)="deleteReservation(reserva.id)" class="btn btn-danger">Borrar</button>
                </td>
            </tr>
        </tbody>
</table>
</div>