<div class="border border-primary">
    <h1 class="m-3">UpperEat - Sistema de Gestión de Reservas para Restaurantes  </h1>
    <hr>
    <div class="row">
        <div class="col-5 mt-10">
            <app-reserva (onNewReserva)="reservaService.onNewReserva($event)"></app-reserva>
        </div>
        <hr>
        <div class="col-11 mt-4">
            <app-lista
            (onEmitDeleteReserva)="reservaService.onDeleteReserva($event)"
            [reservasMain]="reservaService.reservas"
            ></app-lista>
        </div>

    </div>
</div>